.TitleBar {
  display: flex;
  background-color: rgb(0, 0, 0, .4);
  height: 2em;
  -webkit-app-region: drag;
  position: relative;
  z-index: 99;

  .left {
    margin-right: auto;
    margin-left: 0.5em;
    display: flex;
    column-gap: 0.25em;

    .hamMenuOpenerButton {
      background-image: url("../../../assets/img/icon_settings.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      -webkit-app-region: no-drag;

      &:hover {
        background-color: rgba(255, 255, 255, 0.209);
      }
    }

    .hamMenuOpenerButton[data-checked="true"] + .hamMenu {
      transform: translate(0px);
      visibility: visible;
    }

    .hamMenu {
      width: 40vw;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      visibility: hidden;
      transform: translate(-110%);
      background-color: rgba(0, 0, 0, .8);
      transition: 0.75s;
      display: flex;
      justify-content: center;
      align-items: center;
      font: normal normal normal 1em/1.2em Arial, sans-serif;

      li {
        color: whitesmoke;
        width: 100%;
        padding: 5px 5px 5px 2em;
        text-indent:0.4em;
        border-radius: 2px;
        font-weight:bold;
        background-repeat:no-repeat;
      }

      li:hover {
        background-color: rgba(245, 245, 245, 0.5);
        cursor: pointer;
      }

      ul {
        list-style: none;
      }
    }

    .iconOpen {
      background-image: url("../../../assets/img/icon_open.png");
    }

    .iconRepair {
      background-image: url("../../../assets/img/icon_repair.png");
    }

    .iconStatus {
      background-image: url("../../../assets/img/icon_status.png");
    }
  }

  .right {
    margin-left: auto;
    margin-right: 0.5em;
    display: flex;
    column-gap: 0.25em;

    .minimizeButton {
      background-image: url("../../../assets/img/icon_minimize.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      -webkit-app-region: no-drag;

      &:hover {
        background-color: rgba(255, 255, 255, 0.209);
      }
    }

    .closeButton {
      background-image: url("../../../assets/img/icon_close.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      -webkit-app-region: no-drag;

      &:hover {
        background-color: rgba(255, 255, 255, 0.209);
      }
    }
  }
}
